.gold {
  background-image: url(/img/mines/gold_mine.webp);
}

.wood {
  background-image: url(/img/mines/wood_mine.webp);
}

.ore {
  background-image: url(/img/mines/ore_mine.webp);
}

.gem {
  background-image: url(/img/mines/gem_mine.webp);
}

.crystal {
  background-image: url(/img/mines/crystal_mine.webp);
}

.mercury {
  background-image: url(/img/mines/mercury_mine.webp);
}

.gold,
.crystal,
.gem,
.mercury,
.ore,
.wood {
  width: 100px;
  height: 100px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
