.marked {
  box-shadow: 0px 0px 7px 3px var(--color-accent);
}

.action {
  box-shadow: 0px 0px 7px 3px var(--color-green-light);
}

.available {
  color: white;
}

.unavailable {
  color: gray;
}

.built {
  color: green;
}

.builtInTheFuture {
  color: yellow;
}

.item {
  transition: box-shadow 0.14s ease-in-out;
}

.item,
.item > * {
  border-radius: 6px;
}
