.modal {
  width: 690px;
  padding: 0 22px;

  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  background-color: var(--dark-blue-30);
  border: 1px solid var(--black-40);
  border-radius: 5px;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: uppercase;
  color: var(--text-dim);
  font-size: 14px;
  letter-spacing: 1px;
}

.modal::backdrop {
  backdrop-filter: blur(1.5px);
}

.icon {
  cursor: pointer;
}

.icon:hover {
  transform: rotate(30deg);
}

.close {
  position: relative;
  width: 34px;
  height: 34px;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
  padding: 14px;
  border-radius: 50%;
}

.close:hover {
  opacity: 1;
  background-color: var(--dark-blue-40);
}

.close::before,
.close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background: var(--text-main);
}

.close::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.close::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close:focus {
  outline: none;
}

.close:focus-visible {
  outline: 2px solid var(--black-80);
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  /* padding: 16px 0; */
  height: 50px;
  margin-top: auto;
  border-top: 1px solid var(--black-40);
}
