.item {
  cursor: pointer;
  display: flex;
}

.item {
  cursor: pointer;
}

.item-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.action {
  all: unset;
  background: transparent;
  color: var(--text-main);
  display: flex;
  justify-content: center;
  height: 18px;
  width: 18px;
  align-items: center;
  user-select: none;
  opacity: 0.5;
  transition: opacity 0.4s;
  border-radius: 50%;
}

.action:hover {
  opacity: 1;
  background-color: var(--dark-blue-40);
}

.action:disabled {
  color: var(--black-50);
  cursor: default;
  background: transparent;
}

.tooltip-box {
  z-index: 1;
  width: fit-content;
  height: min-content;

  inset: auto;
  bottom: anchor(top);
  left: anchor(left);

  position-anchor: var(--item-anchor);
  position-try-fallbacks:
    --top-left, --bottom-left, --top-right, --bottom-right;

  margin: 0;
  padding: 8px 12px;
  background: var(--dark-blue-50);
  color: var(--text-main);
  border-radius: 6px;
  border: none;
  pointer-events: none;
}

@position-try --bottom-left {
  /* biome-ignore lint/suspicious/noShorthandPropertyOverrides: ignore */
  inset: auto;
  top: anchor(bottom);
  left: anchor(left);
}

@position-try --bottom-right {
  /* biome-ignore lint/suspicious/noShorthandPropertyOverrides: ignore */
  inset: auto;
  top: anchor(bottom);
  right: anchor(right);
}

@position-try --top-left {
  /* biome-ignore lint/suspicious/noShorthandPropertyOverrides: ignore */
  inset: auto;
  bottom: anchor(top);
  left: anchor(left);
}

@position-try --top-right {
  /* biome-ignore lint/suspicious/noShorthandPropertyOverrides: ignore */
  inset: auto;
  bottom: anchor(top);
  right: anchor(right);
}

.i {
  all: unset;
  color: var(--text-dim);
  border: solid 1px;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
  font-size: 9px;

  anchor-name: var(--item-anchor);
}

.item:has(.i:hover) + .tooltip-box {
  display: block;
}

.info {
  height: fit-content;
  width: 300px;
}

.disabled {
  filter: grayscale(100%);
  opacity: 0.3;

  /* pointer-events: none; */
}

/* .disabled .i {
  pointer-events: initial;
} */
