.cell,
.next {
  color: var(--black-50);
  width: 40px;
  height: 40px;
  border: solid 1px var(--black-40);
  cursor: pointer;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.next {
  width: 68px;
  border-radius: 50px;
}

.cell {
  position: relative;
  letter-spacing: 1px;
  text-indent: 2px;
}

.cell:hover,
.next:hover {
  background-color: var(--dark-blue-30);
  filter: drop-shadow(0 0 2px var(--black-90));
}

.active {
  color: var(--black-80);
  border: solid 1px var(--black-60);
  font-weight: 600;
  background-color: var(--highlight-15);
  box-shadow: 0 2px 6px var(--shadow-50);
}

.skeleton {
  pointer-events: none;
}

.calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.negative {
  border: solid 1px var(--red-50);
}

.row {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nav {
  padding: 10px 0;

  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
