.cell {
  color: var(--black-50);
  width: 20px;
  height: 20px;
  border: solid 1px var(--black-40);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  color: var(--black-80);
}

.calendar {
  display: flex;
}

.action {
  border: solid 1px var(--green-50);
}

.disabled {
  color: var(--black-30);
  border-color: var(--black-25);
  cursor: not-allowed;
}
