.logo {
  width: 24;
  height: 24px;
  object-fit: contain;
  filter: drop-shadow(0 1px 2px var(--shadow-40));
  border-radius: 50%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
