.label {
  border: solid 1px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 130px;
  height: 36px;
  padding: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  transition: background-color 0.12s ease-in-out;
  background-color: var(--background);
}

.label.marked {
  background: var(--black-70);
  color: var(--black-10);
  font-weight: 600;
}

.label.available {
  background: var(--green-60);
  color: var(--black-10);
  font-weight: 600;
}

.label.builtThisDay {
  border: solid 3px var(--color-green-light);
}
